:root {
    --checked: #2196F3;
    --upper-back: #2F303A;
    --transperent: rgba(255, 255, 255, 0.60);
    --project-black: #212121;
    --text: #757575;
    --lower-back: #F5F4FA;
}
body{
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-size:16px;
    letter-spacing:0.48px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration:none;
}
ul,p,a,h4,li {
    padding:0;
    margin:0;
}
.container{
    width:1200px;
    padding:0 15px;
    margin: 0 auto;
}
.header{
    padding-bottom:94px;
}
.header .container{
    display:flex;
    flex-direction:row;
    padding:25px 0; 
    align-items:center;
    /* justify-content:space-between; */
}
.logo{
    font-size:26px;
    color:var(--checked);
    font-family: 'Raleway', serif;
    font-weight:700;
    letter-spacing:0.78px; 
}
.header .logo span{
    color:black;
}
.footer .logo span{
    color:white;
}
.nav-list{
    display:flex;
    flex-direction:row;
    gap:50px;
    margin-left:93px;
    margin-right:344px;
}
.nav-list-link{
    color:var(--project-black);
    font-weight: 500;
    letter-spacing: 0.28px;
    font-size:14px;
}
.nav-list-link:hover{
    color:var(--checked);
}
.header-contacts-box{
    display:flex;
    flex-direction:row;
    gap:50px;
}
.header-link-contacts{
    color:var(--text);
    font-weight: 500;
    letter-spacing: 0.28px;
    font-size:14px;
}
.header-link-contacts:last-child{
    margin-right:0;
}
.header-link-contacts:hover{
    color:var(--checked);
}
.main{
    padding-bottom:94px;
}
.main-list-menu{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin:0 auto 50px;
    gap:8px;
}
.main-list-menu-link{
    color:var(--project-black);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    align-items:center;
    /* display:inline-blosk -- дает елементу особенности и блокового (можно ставить конкретный рамер и дикорации блока) и рядкового тега (щставляет место рядом с собой для следующего елемента, дикорации текста)  */
    display:inline-block;
    padding:6px 22px;
    margin-right:8px;
    background-color: var(--lower-back);
    border-radius:4px;
}
.main-list-menu-link:hover{
    color:white;
    background-color:var(--checked);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
.card-list{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:30px;
}
.card-list-item{
    flex-basis:calc((100% - 2*30px) / 3)
}
.card-list-article{
    margin-bottom:30px;
    width: 370px;
    height: 404px;
    padding:0 0 20px;
}
.card-list-article:hover{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.card-list-title{
    color: var(--project-black);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1.08px;
    margin:20px 0 4px 24px;
}
.card-list-text{
    color: var(--text);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.48px;
    margin: 0 0 0 24px;
}
.footer{
    background-color:var(--upper-back);
    margin:0;
    padding:60px 0;
}
.footer .logo {
    display:inline-block;
    padding-bottom:20px;
}
.footer-box{
    display:flex;
    flex-direction:column;
    gap:9px;
}
.footer-text{
    color: white;
    font-size:14px;
    line-height:1.7;
    letter-spacing:0.42;
}

.footer-link-contacts{
    color:var(--transperent);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.42px;
}