
:root {
    --checked: #2196F3;
    --upper-back: #2F303A;
    --transperent: rgba(255, 255, 255, 0.60);
    --project-black: #212121;
    --text: #757575;
    --lower-back: #F5F4FA;
}
body{
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-size:14px;
    line-height: 1.7;
    letter-spacing:0.48px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration:none;
}
p,ul,h2, h4, h5, h1, img, button{
    margin: 0x;
    padding: 0px;
}
.container{
    width:1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header .container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:24px 15px;
    align-items:center;
}
.logo{
    font-size:26px;
    color:var(--checked);
    font-family: 'Raleway', serif;
    font-weight:700;
    letter-spacing:0.78px; 
    /* margin-right:93px; */
}
.header .logo span{
    color:black;
}
.footer .logo span{
    color:white;
}
.nav-list{
    margin-right:344px;
    margin-left:93px;
    display:flex;
    gap:50px;
}
.nav-list-link{
    color:var(--project-black);
    font-weight: 500;
    letter-spacing: 0.28px;
}
.nav-list-link:hover{
    color:var(--checked);
}
.header-contacts-box{
    display:flex;
    gap: 50px;
}
.header-link-contacts{
    color:var(--text);
    font-weight: 500;
    letter-spacing: 0.28px;
}
.header-link-contacts:hover{
    color:var(--checked);
}
.sect-ef-s{
    background-color: var(--upper-back); 
}
.sect-ef-s .container{
    padding:200px 15px 200px;
}
.sect-ef-s-title{
    color: white;
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-align: center;
    margin:0 252px 30px; 
}
.section-ef-s-button{
    padding:10px 32px;
    display:block;
    background-color:var(--checked);
    color:white;
    font-family:'Roboto', sans-serif;
    font-weight:700;
    line-height:1.87;
    font-size:16px;
    letter-spacing:0.96px;
    text-align: center;
    border: none;
    border-radius:5px;
    margin:0 auto;
}
.sec-benefits{
    padding: 94px 0 0;    
}
.sec-benefits-list{
    display:flex;
    gap:30px;
    flex-direction:row;
}
.sec-benefits-list-item::before{
    content:"";
    display:inline-block;
    width: 270px;
    height: 120px;
    padding:25px 100px;
    margin-bottom:30px;
    background-color:var(--lower-back);
    background-repeat:no-repeat;
    background-position:center;
}
.sec-benefits-list-item:first-child::before{
    background-image:url('../IMG/antenna1.png');
}
.sec-benefits-list-item:nth-child(2)::before{
    background-image:url('../IMG/clock1.png');
}
.sec-benefits-list-item:nth-child(3)::before{
    background-image:url('../IMG/diagram1.png');
}
.sec-benefits-list-item:nth-child(4)::before{
    background-image:url('../IMG/astronaut1.png');
}
.sec-benefits-list-title{
    color:var(--project-black);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.42px;
    margin:0 auto 10px;
}
.sec-benefits-list-text{
    color: var(--text);
    letter-spacing: 0.42px;
    margin:0;
}
.sec-tasks{
    padding:118px 0 94px;
}
.sec-tasks-list{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.sec-tasks-title{
    color: var(--project-black);
    font-size: 36px;
    letter-spacing: 1.08px;
    padding: 0 auto 50px;
    text-align:center;
}
.article-team .container{
    padding:94px 15px;
}
.article-team{
    /* width:1600px;
    height:648px; */
    background-color:var(--lower-back);
}
.article-team-list{
    display:flex;
    flex-direction:row;
    gap:30px;
    margin:0 auto;
}
.article-team-list-item{
    width:270px;
    background-color:white;
    padding:0 0 30px;
}
.article-team-title{
    color:var(--project-black);
    font-size: 36px;
    letter-spacing: 1.08px;
    margin: 0 auto 50px;
    text-align:center;
}
.article-team-list-img{
    height:260px;
    width:270px;
}
.article-team-list-title{
    color: var(--project-black);
    font-size: 16px;
    font-weight: 500;
    margin: 30px auto 10px;
    text-align:center;

}
.article-team-list-text{
    color: var(--text);
    font-size: 16px;
    margin:0 auto;
    text-align:center;

}
.footer .container{
    padding: 60px 5px;
}
.footer{
    background-color: var(--upper-back);
}
.footer .logo{
    display:inline-block;
    margin-bottom:20px;
}
.footer-links-container{
    display:flex;
    flex-direction:column;
    gap:9px;
}
.footer-text{
    color: white;
    letter-spacing: 0.42px;
    margin:0;
}
.footer-link-contacts{
    color:var(--transperent);
    letter-spacing: 0.42px;
}
